{% extends "base.html" %}
{% load datetime_formatting %}
{% load operation %}
{% block title %}| Dashboard{% endblock %}
{% block body %}
  <div id="dashboard" class="row">
    <div class="col-12">
      <div class="row mb-3">
        <form method="get" action="{% url 'ui:dashboard' %}" class="col-md-6 col-lg-4">
          <label for="q" class="sr-only">Search</label>
          <input
              type="text" class="form-control" id="q" name="q"
              placeholder="host name or playbook name"
              value='{{ request.query_params.q }}' />
        </form>
        <button type="button" class="btn btn-primary col-1">Search</button>
      </div>
    </div>
    {% for hostname, results in states.items %}
      <div class="col-xs-6 col-lg-3">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ hostname }}</h5>
            {% for res in results %}
              <div class="playbook-status" data-playbook-id="{{ res.playbook.id }}">
                <div class="alert alert-{{ res.status|get_play_alert_type }}" role="alert">
                  <div class="playbook-name">
                    {{ res.playbook|get_playbook_name }}
                  </div>
                  <small
                      data-toggle="tooltip" data-placement="right"
                      title="{{ res.playbook.ended | format_date}}">
                    {{ res.playbook.ended | parse_date | timesince }} ago
                  </small>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
      $('.playbook-status').click((e) => {
        const { playbookId } = e.currentTarget.dataset;
        location.href = `/playbooks/${playbookId}.html`;
      })
    });
  </script>
{% endblock %}
