{% extends "base.html" %}
{% load datetime_formatting %}
{% load operation %}
{% block title %}| Dashboard{% endblock %}
{% block body %}
  <div id="dashboard" class="row">
    {% for hostname, results in states.items %}
      <div class="col-xs-6 col-lg-3">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ hostname }}</h5>
            {% for res in results %}
              <div class="playbook-status">
                <div class="alert alert-{{ res.status|get_play_alert_type }}" role="alert">
                  <div class="playbook-name">{{ res.playbook|get_playbook_name }}</div>
                  <small>{{ res.playbook.ended | parse_date | timesince }} ago</small>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
