.table > thead > tr > th {
  vertical-align: middle;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.navbar {
  padding: 0.75rem 1.0rem !important;
}

.card-header {
  padding: 0.3rem 1.0rem !important;
}

.card-footer {
  padding: 0.3rem 1.0rem !important;
}

.ara-label {
  font-size: 90% !important;
  padding: 0.10rem 0.25rem !important;
  margin-bottom: 3px;
}

.ara-result-status-badge {
  font-size: 90% !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #b4bcc2;
}

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #ffffff;
}

.tooltip {
  pointer-events: none;
}

#dashboard .card-title {
  padding-bottom: 8px;
  border-bottom: 1px solid #444;
}

.play-result-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #444;
  padding: 0.5rem 0;
  overflow-x: scroll;
}

.play-result-container .play-hostname {
  width: 200px;
  min-width: 200px;
  font-size: 0.75rem;
  font-weight: bold;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.play-result-container .play-hostname .statuses .badge {
  width: 20px;
  margin-right: 2px;
}

.play-result-container .play-result-item-list {
  display: flex;
}

.play-result-item-list .play-result-item {
  margin-right: 0.25rem;
  padding: 0;
  width: 160px;
  max-width: 160px;
  text-align: center;
}

.play-result-item.hidden {
  display: none;
}

.play-result-item .alert {
  width: 100%;
  padding: 0 0.25rem;
  margin-bottom: 0;
  font-size: 0.5rem;
  cursor: pointer;
}

.play-result-item .alert:hover {
  filter: brightness(75%);
}

.play-result-item .alert .play-result {
  text-align: center;
}

.play-result-item .alert .playbook-name {
  text-transform: capitalize;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.popover-body .btn {
  font-size: 0.5rem;
  padding: 0.125rem 0.25rem;
}
